<form action="" method="POST">
    <div class="container">
      <h1>Register</h1>
      <p>Create your account.</p>
      <hr>
      <h2>Basic Information</h2>
      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" id="name" required>
  
      <label for="phone"><b>Celular</b></label>
      <input type="phone" placeholder="Enter Phone number" name="phone" id="phone" required>
  
      <label for="adress"><b>Adress</b></label>
      <input type="adress" placeholder="Adress" name="adress" id="adress" required>

      <hr>
      <h2>Complete your credentials</h2>
      <label for="username"><b>Username</b></label>
      <input type="username" placeholder="Username" name="username" id="username" required>

      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Email" name="email" id="email" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Password" name="password" id="password" required>
      <input type="submit" value="Register">
  </form>